h1 {
  font-family: monospace ;
}

#calcResult {
  border: 2px solid thistle;
  height: 10px;
  width: 185px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: thistle;
}

.alignRight {
  float: right;
}


.eachRow {
  margin-bottom: 25px;
}

.box {
  display: inline;
  padding: 10px 20px;
  border: 2px solid white;
  background-color: aquamarine;
}

#clear {
  padding: 10px 44px;
  background: #73717E;
}

#depositCash {
  padding: 10px 17px;
  background: #73717E;
}

#withdrawCash {
  padding: 10px;
  background: #73717E;
}

#doubleZero {
  padding: 10px 14.5px;
}

#dot {
  padding: 10px 22px;
}

#equals {
  margin-left: 167px;
}

