h1 {
  font-family: ;
}


body {
  background-color:tan;
}

/*.box {
  background-color: #3d4543;
  height: 600px;
  width: 550px;
  border-radius: 10px;
  position:r elative;
  top: 80px;
  left: 40%;
}
*/

.display {

  top: 80px;
  left: 40%;
}
